.quiztitle{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.QuestionBox{
    border: 2px solid #1E90FF;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
}
.options{
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    margin-top: 15px;
    padding: 10px;
    padding-left: 27px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
}
.options:hover{
    cursor: pointer;
}
.buttonGroup{
    text-align: center;
}
.navigateButton{
    border: 2px solid white;
    width: 70px;
    height: 38px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.13);
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
}
.allquestionTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.optionCircle{
    text-align: center !important;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.13) !important;
    border-radius: 20px !important;
    width: 40px !important;
    padding-top: 5px !important;
    margin-top: 17px !important;
    height: 40px !important; 
    margin-left: 16px !important;
    margin-right: 10.5px !important;
    display: flex !important;
    justify-content: space-around;
}
.optionCircle:hover{
    cursor: pointer;
}
.numberBox{
    font-family: 'Roboto Slab', serif;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.13);
    font-size: 18px;
    font-weight: 400;
    margin-left: 75px;
    margin-right: 75px;
    padding: 15px;
    height: 370px;
    position: fixed;
    overflow: auto;
    border-radius: 10px;
}
.timer{
    text-align: right;
    margin-right: 100px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 400;
}
.QuestionSolved{
    background-color: #1E90FF;
    border: none !important;
    color: #fff;
}
.QuestionUnSolved{
    background-color: #FF3048;
    border: none !important;
    color: #fff;
}
.curQuestion{
    background-color: yellowgreen;
}